

* {

  box-sizing: border-box;
  font-family: "Varela Round";
   
}



body {

  background-color: rgb(43, 43, 43);

}



.odometer {

  font-size: 64px;
  /* font-family: 'Patrick Hand SC', cursive; */


  color: rgb(0, 0, 0);

}



.channelImage {

  height: 152px;

  width: 152px;

  margin-top: -2px;

  margin-left: -1px;

  float: left;

 margin-right: 20px;

}



.channelName {

  white-space: nowrap; 

  overflow: hidden;

  text-overflow: ellipsis;

  /* font-family: 'Patrick Hand SC', cursive; */


  font-size: 40px;

  color: black;

  margin-top: 0px;

}



.card-content {

  padding: 10px;

}



.card {

  display: inline-block;

  height: 160px;

  font-size: 26px;

  width: 600px;

  border: 5px solid rgba(0,0,0,0);

  margin: 3px;

  padding: 1px;

  transition: background-color 1s;

  background-color: white;

  position: relative;

}

/* 
  @-webkit-keyframes argh-my-eyes {
  from   { background-color: rgb(255, 255, 255); }
  to { background-color: #0011ff; 
  color: white;}
  }
  @-moz-keyframes argh-my-eyes {
  from   { background-color: rgb(255, 255, 255); }
  to { background-color: #green; 
  color: white;}
  }
  @keyframes argh-my-eyes {
  from   { background-color: rgb(255, 255, 255); }
  to { background-color: #grey;
  color: white;
  } 

  }*/

  /* .channel_1 {
  -webkit-animation: argh-my-eyes 5s infinite alternate;
  -moz-animation:    argh-my-eyes 5s infinite alternate;
  animation:         argh-my-eyes 10s infinite alternate;
  } */


@keyframes animate {

  0%

  {

    background-position: 0 0;

  }

  50%

  {

    background-position: 300% 0;

  }

  100%

  {

    background-position: 0 0;

  }

}